





/* колір наведення #3B6ADF; */

:root {
    --primary-text-color: rgba(0, 0, 0, 0.8); /* основний колір тексту */
    --title-text-color: #000000; /* колір тесту  */
    --accent-color: #3B85DF; /* колір акцент */
    --primary-white-color: #FFFFFF;    /* білий колір*/
}

body {
    color: var(--title-text-color);
    font-family: Montserrat, sans-serif;

}


.item {
    list-style: none;
}




/* menu */
.menu {
    background-color: var(--accent-color);

}

.menu-nav__link {
    color: var(--primary-white-color);

    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;

}

.menu-nav__link:hover, 
.menu-nav__link:focus  {
    background-color: #3B6ADF;
    color: yellow;
}

.section-title {
    color: var(--title-text-color);
}