/* колір наведення #3B6ADF; */

:root {
  --primary-text-color: rgba(0, 0, 0, 0.8); /* основний колір тексту */
  --title-text-color: #000000; /* колір тесту  */
  --accent-color: #3b85df; /* колір акцент */
  --primary-white-color: #ffffff; /* білий колір*/
}

body {
  color: var(--title-text-color);
  font-family: Montserrat, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

/* menu */
.navi {
  background-color: var(--accent-color);
}
.menu-nav {
  display: flex;
  margin-left: 30px;
  /* list-style-type: none; */
}

.menu-nav__link {
  color: var(--primary-white-color);

  margin-left: 30px;

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
}

.menu-nav__link:hover,
.menu-nav__link:focus {
  background-color: #3b6adf;
  color: yellow;
}

.menu-nav__link--active {
  color: yellow;
}

.section-title {
  color: var(--title-text-color);
}
